@model IEnumerable<MainWebApplication.Areas.Detailing.Models.RegisterOrder>

<p>
    <a asp-action="RegisterOrder">Создать заказ-наряд</a>
</p>
<div >
        @using (Html.BeginForm("Orders", "Manager", FormMethod.Get))
        {
            @Html.RadioButton("searchBy", "Гос номер авто", true, new {@class ="form-check-input"})<text>Гос номер авто</text>
            @Html.RadioButton("searchBy", "Марка", true, new {@class ="form-check-input"})
            <text>Марка</text>
            @Html.TextBox("search", null, new {@class="form-control"})<input class="btn-primary" type="submit" value="Поиск" />
        }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cars.Name)
                 @Html.DisplayFor(modelItem => item.ModelCar.Name)
            </td>
          <td>
                 <form asp-action="AddServicesOrder" asp-route-id="@item.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-outline-success">
                        Добавить услугу
                    </button>
                </form>
                  <form asp-action="DetailsOrder" asp-route-id="@item.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-outline-primary">
                        Подробнее
                    </button>
                </form>
                <form asp-action="DeleteOrder" asp-route-id="@item.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
