@model IEnumerable<MainWebApplication.Models.Service>

<p>
    <a asp-action="CreateService">Добавить услугу</a>
</p>
<div >
        @using (Html.BeginForm("ServicesList", "Manager", FormMethod.Get))
        {
            @Html.TextBox("serviceName", null, new {@class="form-control"})<input class="btn-primary" type="submit" value="Поиск" />
        }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                 <form asp-action="EditService" asp-route-id="@item.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-outline-success">
                        Редактировать
                    </button>
                </form>
                <form asp-action="DeleteService" asp-route-id="@item.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
