@model IEnumerable<MainWebApplication.Areas.Wash.Models.WashOrder>

<p>
    <a asp-action="CreateOrder">Создать заказ-наряд</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cars.Name)
                 @Html.DisplayFor(modelItem => item.ModelCar.Name)
            </td>
          <td>
                <form asp-action="ReturnOder" asp-route-id="@item.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-outline-success">
                        Восстановить
                    </button>
                </form>
                <form asp-action="FullDelete" asp-route-id="@item.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
