@model MainWebApplication.Areas.Wash.Models.WashOrder
<h4>Заказ-наряды на авто</h4>
<table class="table">
    <tr>
        <th>
           Услуги
        </th>
        <th>
            Цена
        </th>
        <th>
            Ответственный мастер
        </th>
        <th>
            Зарплата
        </th>
        <th>
            Чистая прибыль
        </th>
        <th>
            Действия
        </th>
    </tr>
    @foreach (var item in ViewBag.Orders)
    {
        <tr>
            <td>
                @item.NameService
            </td>
            <td>
                @item.Price ₸
            </td>
            <td>
                @item.NameMaster
            </td>
            <td>
                @item.SalaryMaster ₸
            </td>
            <td>
                @item.Profit
            </td>
            <td>
                <form asp-action="EditServiceWash" asp-route-id="@item.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-outline-primary">
                        Редактировать
                    </button>
                </form>
                <form asp-action="DeleteServiceWash" asp-route-id="@item.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div>
    <h4>Детали завершенного авто</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarNumber)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars.Name)
            @Html.DisplayFor(model => model.ModelCar.Name)
        </dd>
        <dt class = "col-sm-2">
           Дата создания заказ-наряда
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCreateWashOrder)
        </dd>
         <dt class = "col-sm-2">
            Создал заказ-наряд
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AspNetUser.FullName)
        </dd>
        <dt class = "col-sm-2">
            Сдал заказ-наряд
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AspNetUser.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="MasterSalaryList">Назад в список</a>
</div>
