@model IEnumerable<MainWebApplication.Areas.Wash.Models.SalaryMasterList>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.WashService.Service.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.IsDeleted)
            {
                <tr>
             <td>
                <s>@Html.DisplayFor(modelItem => item.WashService.Service.Name)</s>
            </td>
            <td>
                <s>@Html.DisplayFor(modelItem => item.AspNetUser.FullName)</s>
            </td>
            <td>
                <s>@Html.DisplayFor(modelItem => item.Salary) ₸</s>
            </td>
            <td>
                <a asp-action="MasterSalaryDetails" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
                </tr>
            }
    else
            {
                <tr>
             <td>
                @Html.DisplayFor(modelItem => item.WashService.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary) ₸
            </td>
            <td>
                <a asp-action="MasterSalaryDetails" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>
