@model IEnumerable<MainWebApplication.Areas.Wash.Models.WashService>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WashOrder.Cars.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WashOrder.CarNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WashOrder.Cars.Name)
                @Html.DisplayFor(modelItem => item.WashOrder.ModelCar.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WashOrder.CarNumber)
            </td>
          <td>
                 <form asp-action="WashCar" asp-route-id="@item.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-outline-success">
                        Выполнить
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
